html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.root {
  height: 100%;
  display: flex;
  font-family: Roboto;
}

#gear {
  font-size: 8em;
  display: block;
}

#armed {
  color: red;
  font-size: 2em;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid red;
}

#chair-overhead {
  background: url("chair.png");
  background-size: cover;
  margin-top: 40px;
}

#joystick-circle {
  width: 150px;
  height: 150px;
  border-radius: 80px;
  border: 1px dashed black;
}

#joystick-cursor {
  border-radius: 20px;
  border: 1px solid black;
  background: black;
  position: relative;
}

.power-bar {
  height: 50px;
  transform: rotate(-90deg);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
