html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100%;
  display: flex;
  font-family: Roboto;
}

#sidebar {
  width: 25vw;
  padding: 25px;
  justify-content: space-evenly;
  position: relative;
}

#fullscreen-btn {
  position: absolute;
  right: 15px;
  top: 15px;
}

#gear {
  margin-top: 10px;
  font-size: 3em;
  display: block;
}

#armed {
  color: red;
  font-size: 1em;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid red;
}

.armed-hidden {
  color: #fafafa !important;
  border: 1px solid #fafafa !important;
}

#chair-overhead {
  background: url("chair.png");
  background-size: cover;
  margin-bottom: 20px;
}

#joystick-circle {
  width: 128px;
  height: 128px;
  border-radius: 128px;
  border: 1px dashed black;
}

#joystick-cursor {
  position: relative;
  border-radius: 20px;
  border: 1px solid #bbb;
  background: #bbb;
  opacity: 0.7;
}

.power-bar {
  height: 25px;
  transform: rotate(-90deg);
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
